.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.btn{
    padding: 0.8rem 3rem;
    font-size:1rem;
    font-weight:550;
    border:2px solid transparent;
    outline:none;

    cursor:pointer;
    text-transform: uppercase;

    transition:all .3s ease;
}

.btn2{
    border:2px solid transparent;
    outline:none;

    cursor:pointer;
    text-transform: uppercase;

    transition:all .3s ease;
}

.btn-primary{
    background:var(--primary);
    color:var(--dark);
}

.btn-primary2{
    background:var(--primary);
    color:var(--pure);
}

.btn-primary:hover{
    background:transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary2:hover{
    background:transparent;
    border-color: var(--primary);
    color: var(--primary);
}

.btn-secondary{
    background:transparent;
    color:var(--primary);
    border-color:var(--primary);
}

.btn-secondary2{
    background:var(--dark);
    color:var(--pure);
}

.btn-secondary:hover{
    background:var(--primary);
    color:var(--pure);
}

.btn-secondary2:hover{
    background:var(--primary);
    color:var(--pure);
}

.flex-1{
    flex:1;
}